#boggle-container {
  text-align: center;
}

#boggle-board {
  margin: 0 auto;
}

#boggle-board td {
  padding: 5px;
  background-color: lightblue;
}

#boggle-board td.highlighted {
  background-color: red;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

ul {
  list-style: none;
  padding: 0;
}